:root {
  --black:   #000000;
  --dd-gray: #3d3d3d;
  --d-gray:  #777777;
  --l-gray:  #a0a0a0;
  --ll-gray: #e0e0e0;
  --white:   #ffffff;

  --red: #ff4444;

  --basic-text-size: 18px;
  --navbar-link-size: 16px;
  --last-edited-size: 15px;
  --code-size: 14px;
}

/* General settings for the body */
body {
  font-family: 'Gentium Book Basic', sans-serif;
  font-size: var(--basic-text-size);
  box-sizing: border-box;
  /* set width, max-width, and min-width as needed */
  max-width: 1100px;
  min-width: 750px;
  width: 100%; /* = max( min-width, min(max-width,width) ) */
  margin: 0px;
  padding: 80px 60px 60px 60px;
  padding-right: 210px; /* = width of side navigation bar + 2*40px */
  line-height: 1.55;
  vertical-align: left;
}

/* Side naviation bar */
.sidenavbar {
  /*position: fixed;*/
  float: right;
  box-sizing: border-box;
  top: 10px;
  right: 20px;
  width: 160px;
  padding: 30px;
  /*text-align: center;*/
  /*border-radius: 0px;*/
  /*border: 2px solid var(--dd-gray);*/
  z-index: 999;
}
.sidenavbar a {
  color: var(--d-gray);
  font-size: var(--navbar-link-size);
}
.sidenavbar a:hover {
  color: var(--l-gray);
}
/* for widths smaller than min-width of the body, remove side bar */
@media (max-width: 750px) {
  .sidenavbar {
    display: none !important;
  }
}

/* Last edited pane */
.lastedited {
  font-size: var(--last-edited-size);
  margin-top: 40px;
  text-align: right;
}

/* Headings */
h1, h2, h3 {
  font-family: 'Helvetica', sans-serif;
}

/* Links */
a {
  color: var(--d-gray);
  text-decoration: none;
}
a:hover {
  color: var(--l-gray);
}

/* Code */
code {
  font-size: var(--code-size);
  color: var(--red);
  background-color: var(--ll-gray);
  padding: 2px;
}

/* Textfile */
.txtfile {
  background-color: var(--ll-gray);
}

/* List items with extra space */
ol.listextraspace li {
  margin-bottom: 10px;
}
ul.listextraspace li {
  margin-bottom: 10px;
}
ol.listnoextraspace li {
  margin-bottom: 0px;
}
ul.listnoextraspace li {
  margin-bottom: 0px;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.collapsible-content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
} 

/* Style the button that is used to open and close the collapsible content */
.collapsible-too {
  background-color: #ddd;
  color: #555;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible-too:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.collapsible-too-content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #e1e1e1;
} 

